.Header {
  background: var(--accent);
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.Header__list {
  margin: 0px;
  list-style-type: none;
  display: flex;
  gap: 20px;
}
.Header__list a {
  text-decoration: none;
  color: white;
}

@media only screen and (min-width: 768px) {
  .Header {
    justify-content: flex-start;
  }

  .Header__list li {
    cursor: pointer;
    padding: 8px 12px;
    border-radius: 5px;
  }
  .Header__list li:hover {
    background-color: rgba(202, 126, 12, 0.877);
  }
}
