:root {
  --accent: rgb(228, 149, 4);
  --dark-text: black;
  --light-text: white;
  --bg-primary: rgb(236, 235, 232);
  --bg-secondary: rgb(54, 54, 54);
}

body {
  margin: 0;
  background-color: var(--bg-primary);
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
